<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="trustString" class="java.lang.String">
        <constructor-arg value="Trust me"/>
    </bean>

    <bean id="terminatorQuoter" class="foo.bar.lab02.TerminatorQuoter">
        <property name="quotes">
            <list>
                <value>Be or not to be</value>
                <value>That is the question</value>
                <ref bean="trustString"/>
            </list>
        </property>
    </bean>

    <bean class="foo.bar.lab02.ShakespeareQuoter" id="shakespeareQuoter">
        <property name="quote" value="To be or not to be"/>
    </bean>

    <bean class="foo.bar.lab03.TalkingRobot" id="talkingRobot">
        <property name="quoters">
            <list>
                <ref bean="shakespeareQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <bean class="foo.bar.lab04.RunWithThisMethodPostProcessor"/>

    <bean class="foo.bar.lab05.RealSubject" id="realSubject"/>

    <bean class="foo.bar.lab05.BenchMarkProxySubject" id="subject">
        <constructor-arg name="realSubject" ref="realSubject"/>
    </bean>

</beans>